/* This file will add CSS stylings to the Meeting Minutes */
/* Color */
:root{
    --header1Color: red;
}

h1 {
    color:var(--header1Color, pink);
}
h2 {
    color:rgb(255, 0, 0);
}
h3 {
    color:#0b960b;
}
h4 {
    color:color(srgb 0.31 0.49 0.85);
}